<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>
<form th:action="@{/register}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username"/> <br/>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br/>
    <select name="role">
        <option th:each="roles : ${T( com.dbauth.authority.Role).values()}"
                th:value="${roles}" th:text="${roles.name}" >
        </option>
    </select>
    <br/>
    <input type="submit" value="Sing Up"/>
</form>
</body>
</html>